html, body, .main, .home-page {
    height: 100%;
}

.home-page {
    background: #7da8ea;
    
    .container {
        height: 100%;

        .login-form,
        .sign-up {
            padding: 60px 40px;
            background: white;
            max-width: 430px;
            width: 100%;
        }

    }

}

.page-enter-active, .page-leave-active {
    transition: opacity .5s, transform .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateY(-20%);
}

span.help-block {
    color: red;
    font-size: 13px;
}


// Dashboard Style
.dashboard {
    height: 100%;
    
    .row {
        height: 100%;
        margin: 0px !important;



        &>div{
            padding: 0px;

            &:nth-child(2) {
                background: #eee;
            }

            .dashboard-header {
                height: 45px;
                background: #3f3f3f;
            }

            .dashboard-content {
                margin: 20px;
                background: white;
                padding: 20px;
            }
        }

        .system-name {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }

        .user-img {
            max-width: 75px;
            margin: 30px auto;
        }

        .user-name {
            text-align: center;
            font-weight: normal !important;
            font-size: 22px;
        }

        .main-menu {
            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;

                li {
                    
                    a {
                        padding: 10px 20px;
                        display: block;
                        text-decoration: none;
                        color: #3f3f3f;
                        cursor: pointer;

                        &:hover { 
                            background: #eee;
                        }
                    }
                }
            }
        }
    }

    .item_image {
        height: 250px;
        background-position: center center;
        background-size: cover;
    }

    .item_title {
        font-size: 21px;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #eee;
    }

    .item_details {
        padding: 10px;
        text-align: left;
    }
}


.mould {
    
    .v-menu__content.theme--light.v-menu__content--auto.menuable__content__active {
        top: 0 !important;
        left: 0 !important;
    }
}

.v-alert.error {
    background: #ff8787;
}


span.rack-no {
    padding: 0px 9px;
    background: lime;
    font-size: 13px;
    border-radius: 3px;
    color: #3f3f3f;
    display: block;
    text-align: center;
}

.v-menu__content {
    top: 0px !important;
    left: 0px !important;
}